IndexOptions IgnoreCase FancyIndexing FoldersFirst NameWidth=* DescriptionWidth=*
AddCharset UTF-8 .html
IndexOptions Charset=UTF-8
AddType 'text/html; charset=UTF-8' html
HeaderName header.html
IndexIgnore header.html style_experiments.css proofs refs
AddDescription "Source: Complete package for interactive use" surreal.tgz
AddDescription "HTML: Conway Normal Form" surrealc.html
AddDescription "HTML: Inverse of surreal numbres" surreali.html
AddDescription "HTML: Construction of the surreal numbers, order, quotient" surrealn.html
AddDescription "HTML: The Square Root" surreals.html
AddDescription "HTML: Surreal Numbers -- Formal Introduction" surreal0.html
AddDescription "HTML: Integration of Game Theoretic and Tree Theoretic Approaches to Conway Numbers" surrealo.html
AddDescription "HTML: The Ring of Conway Numbers in Mizar" surrealr.html
